# ----------------------------------------------------------------------------
# GitHub Actions workflow to build Lazarus for usage in Castle Game Engine.
# See ../../README.md for more information.
#
# See https://docs.github.com/en/actions for GHA docs.
# ----------------------------------------------------------------------------

name: Build

# workflow_dispatch allows to call it manually
# See https://docs.github.com/en/actions/using-workflows/manually-running-a-workflow .
# This is useful e.g. when rpi OS changed, e.g. FPC version changed,
# so you want to rebuild Lazarus packages based on it.
on: [push, pull_request, workflow_dispatch]

defaults:
  run:
    shell: bash

jobs:
  build_native:
    name: Build Native
    strategy:
      matrix:
        runner: [
          ubuntu-latest,
          windows-latest,
          # last macOS using Intel
          macos-15-intel,
          macos-latest
        ]
        include:
          # Set matrix.build_os, matrix.build_cpu .
          # These are OS and CPU names following FPC naming convention,
          # exactly as if from
          # - fpc -iTO / -iSO (target/source OS)
          # - fpc -iTP / -iSP (target/source CPU)
          # They describe both source and target OS/CPU in our scenario.
          - build_os: linux
            build_cpu: x86_64
          - runner: windows-latest
            build_os: win64
            build_cpu: x86_64
          - runner: macos-latest
            build_os: darwin
            build_cpu: aarch64
          - runner: macos-15-intel
            build_os: darwin
            build_cpu: x86_64

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: Build Lazarus
        run: ./build_lazarus ${{ matrix.build_os }} ${{ matrix.build_cpu }}

      - name: Release Artifacts
        if: ${{ github.ref == 'refs/heads/master' }}
        run: gh release --repo ${{ github.repository }} upload snapshot --clobber lazarus-*.zip
        env:
          GH_TOKEN: ${{ github.token }}

      # Additionally, when on Win64, build and release also Win32 version.
      - name: Build Lazarus (for Win32)
        if: ${{ matrix.build_os == 'win64' && matrix.build_cpu == 'x86_64' }}
        run: ./build_lazarus win32 i386
      - name: Release Artifacts (for Win32)
        if: ${{ matrix.build_os == 'win64' && matrix.build_cpu == 'x86_64' && github.ref == 'refs/heads/master' }}
        run: gh release --repo ${{ github.repository }} upload snapshot --clobber lazarus-*.zip
        env:
          GH_TOKEN: ${{ github.token }}

  build_arm_runner:
    name: Build on ARM Runner (for Raspberry Pi)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [raspberry-pi-32, raspberry-pi-64]
        include:

        # additional defines for Raspberry Pi 32-bit (Arm)
        - arch: raspberry-pi-32
          # Arguments for pguyot/arm-runner-action
          cpu: cortex-a7
          base_image: raspios_lite:latest
          # Arguments for build_lazarus script.
          build_os: linux
          build_cpu: arm

        # additional defines for Raspberry Pi 64-bit (Aarch64)
        - arch: raspberry-pi-64
          # Arguments for pguyot/arm-runner-action
          cpu: cortex-a53
          base_image: raspios_lite_arm64:latest
          # Arguments for build_lazarus script.
          build_os: linux
          build_cpu: aarch64

    steps:
      - uses: actions/checkout@v6
      - uses: pguyot/arm-runner-action@v2
        with:
          base_image: ${{ matrix.base_image }}
          cpu: ${{ matrix.cpu }}
          shell: /bin/bash -eo pipefail
          image_additional_mb: 6000
          # Avoids the need for copy_artifact_path later.
          bind_mount_repository: true
          commands: |

            # get dependencies
            sudo apt-get update
            sudo apt-get --no-install-recommends -y install git make zip

            # run build_lazarus
            ./build_lazarus ${{ matrix.build_os }} ${{ matrix.build_cpu }}

      - name: Release Artifacts
        if: ${{ github.ref == 'refs/heads/master' }}
        run: gh release --repo ${{ github.repository }} upload snapshot --clobber lazarus-*.zip
        env:
          GH_TOKEN: ${{ github.token }}

  # once everything is successfull, move forward the "snapshot" tag.
  # This makes the "XXX commits to master since this release"
  # on https://github.com/castle-engine/cge-lazarus/releases/tag/snapshot right.
  update_release_tag:
    name: Update Release Tag
    runs-on: ubuntu-latest
    needs: [build_native, build_arm_runner]
    env:
      release_tag: snapshot
    steps:
    - uses: actions/checkout@v6
    - name: Update Release Tag
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        # --force allows to overwrite previous tag
        git tag --force ${{ env.release_tag }}
        # --force allows to push with overwritten tag
        git push --force origin ${{ env.release_tag }}
